/* Template for aniamtion stylesheet */

/* @animation-name "outline-color-pulse" */
element {
    outline: 3px solid transparent;
    outline-offset: 3px;
    outline-color: transparent;
    animation: outline-color-pulse 3s linear infinite alternate-reverse;
}